:root{

    --ion-text-color: #901b46;

}


:root {



    --ion-background-color: #F9F7BA;

	--ion-color-primary: #EA1E69;
	--ion-color-primary-rgb: 234,30,105;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #ce1a5c;
	--ion-color-primary-tint: #ec3578;

	--ion-color-secondary: #F8D10B;
	--ion-color-secondary-rgb: 248,209,11;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #dab80a;
	--ion-color-secondary-tint: #f9d623;

	--ion-color-tertiary: #EA1E69;
	--ion-color-tertiary-rgb: 234,30,105;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #ce1a5c;
	--ion-color-tertiary-tint: #ec3578;

	--ion-color-success: #9FE3B3;
	--ion-color-success-rgb: 159,227,179;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #8cc89e;
	--ion-color-success-tint: #a9e6bb;

	--ion-color-warning: #ff0000;
	--ion-color-warning-rgb: 255,0,0;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #e00000;
	--ion-color-warning-tint: #ff1a1a;

	--ion-color-danger: #901b46;
	--ion-color-danger-rgb: 144,27,70;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #7f183e;
	--ion-color-danger-tint: #9b3259;

	--ion-color-medium: #B1D9FD;
	--ion-color-medium-rgb: 177,217,253;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #9cbfdf;
	--ion-color-medium-tint: #b9ddfd;

	--ion-color-light: #F9F7BA;
	--ion-color-light-rgb: 249,247,186;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #dbd9a4;
	--ion-color-light-tint: #faf8c1;

}